@charset "UTF-8";
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales - body */
body {
  background-color: white;
  color: grey;
}

/* Estilos del header */
header {
  background-color: #615D5D;
  padding: 10px 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between; /* Eje horizontal */
}

.logo {
  width: 40%;
}

header nav ul {
  list-style: none;
  display: flex;
  padding: 60px;
  margin-right: 80px;
  gap: 30px;
  font-size: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: inherit;
}

header nav ul li a:hover {
  color: white; /* Cambia el color */
  font-weight: bold;
}

nav ul .pagina {
  background-color: tomato;
}

header img {
  width: 50%;
}

/* Estilos de main index */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 50px;
  gap: 30px;
}

main .textos {
  text-align: center;
}

main .textos h1 span {
  display: block;
}

.boton .btn {
  background-color: grey;
  /* Otros estilos */
}

/* Estilos de section */
section {
  background-color: whitesmoke;
  color: #615D5D;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 30px;
  gap: 50px;
}
section div {
  text-align: center;
  gap: 80px;
  margin: 0px 40px 0px 10px;
}

/* Estilos del carrusel */
.carrusel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-control-prev, .carousel-control-next {
  background-color: #615D5D;
}

/* Tienda */
/* Imágenes productos de la tienda */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.grid-item {
  background-color: whitesmoke;
  border: 1px solid grey;
  border-radius: 5px;
  overflow: hidden;
}
.grid-item img {
  width: 100%;
  height: auto;
  display: block;
}

.Mapa iframe {
  position: center;
  top: 50px;
  left: 3px;
  width: 50%;
  height: 50%;
  border: 0;
}

/* Noticias */
.noticia1 {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.imgNoticia {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos para el formulario de contacto */
.contactanos {
  width: 80%;
  margin: 0 auto; 
}

.contacto {
  display: flex;
  justify-content: center; 
}

/* Ajusta el ancho de los campos de texto */
.form-control {
  width: 120%; /* Establece el ancho al 100% del contenedor */
  margin-left: 80px;
}

/* Estilos footer */
footer {
  text-align: center;
  color: grey;
  margin: 20px;
}

/* Media Queries */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  header nav ul {
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 10px;
  }
  header img {
    width: 70%;
    margin-bottom: 10px;
  }
  main {
    flex-direction: column;
    margin: 0 20px;
  }
  main .imagen img {
    width: 100%;
  }
  section {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 20px;
  }
  .Mapa iframe {
    width: 100%;
    height: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
