$color-background: white;
$color-text: #615D5D;
$color-tex2: white;
$color-header: #615D5D;
$color-link: #615D5D;
$color-link-hover: white;
$color-social-link: #615D5D;
$color-button: #615D5D;
$color-section-background: whitesmoke;
$color-product-background: whitesmoke;
$color-product-border: grey;
$color-news-background: white;
$color-news-border: rgba(0, 0, 0, 0.1);
