$color-background: white;
$color-text: grey;
$color-header: #615D5D;
$color-link-hover: white;
$color-button: grey;
$color-section-background: whitesmoke;
$color-product-background: whitesmoke;
$color-product-border: grey;
$color-news-background: white;
$color-news-border: rgba(0, 0, 0, 0.1);
